@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  overflow-x: hidden;
}

:root {
    scroll-behavior: smooth;
    --font-main: 'Barlow Condensed', sans-serif;
    --font-secondary: 'Ubuntu', sans-serif;
    --font-pretitle-size: 14px;
    --font-title-size: 65px;
    --font-text-size: 20px;
    --color-primary: #222222;
    --color-secondary: #898989;
    --color-accent: #f6c43d;
    --color-brand: #1088e4;
    --color-background: #f7f8fa;
}

.img {
    display: block;
    width: 100%
}