<header class="header">
    <div class="header__container">
        <a href="index.html" class="header__logo">
            <img src="img/fast-car-logo.svg" alt="Car Rental Logo" class="header__logo-img" width="120" />
        </a>

        <ul class="header__menu">
            <li class="header__menu-item"><a href="#about-us" class="header__menu-link">About Us</a></li>
            <li class="header__menu-item"><a href="#cars-of-the-month" class="header__menu-link">Cars of the Month</a>
            </li>
            <li class="header__menu-item"><a href="#pricing" class="header__menu-link">Pricing</a></li>
            <li class="header__menu-item"><a href="#testimonials" class="header__menu-link">Testimonials</a></li>
            <li class="header__menu-item"><a href="#contact" class="header__menu-link">Contact Us</a></li>
        </ul>

        <div class="header__socials">
            <a href="https://facebook.com" class="header__social-link" target="_blank">
                <img src="img/icons/facebook-icon.svg" alt="Facebook" class="header__social-icon" />
            </a>
            <a href="https://instagram.com" class="header__social-link" target="_blank">
                <img src="img/icons/instagram-icon.svg" alt="Instagram" class="header__social-icon" />
            </a>
            <a href="https://youtube.com" class="header__social-link" target="_blank">
                <img src="img/icons/youtube-icon.svg" alt="YouTube" class="header__social-icon" />
            </a>
        </div>
    </div>
</header>