<section class="hero" id="hero">
    <div class="hero__container">
        <h1 class="hero__title">Rent a Car in Your City</h1>
        <h2 class="hero__subtitle">Comfortable driving in NYC</h2>
        <p class="hero__description">
            Best car rental deals. Comfortable vehicles. Flexible conditions.
        </p>
        <a href="#about-us" class="hero__btn">Learn more</a>
        <a href="#pricing" class="hero__btn hero__btn--secondary">Pricing</a>
    </div>
    <div class="hero__image-wrapper">
        <img src="img/red-tesla.png" alt="Red Tesla" class="hero__image">
    </div>

    <div class="hero__categories">
        <div class="hero__card">
            <img src="img/white-mercedes.webp" alt="White Mercedes" clas="hero__card-image"/>
            <h3 class="hero__card-title">SUVs</h3>
      <p class="hero__card-text">No obstacles on your way can spoil the trip.</p>
      <a href="#request" class="hero__btn hero__btn--small">Learn More</a>
       </div>
      
      <div class="hero__card">
      <img src="img/blue-nissan.webp" alt="Blue Nissan" class="hero__card-image" />
      <h3 class="hero__card-title">Sports Cars</h3>
      <p class="hero__card-text">Feel what true speed and freedom are.</p>
      <a href="#request" class="hero__btn hero__btn--small">Learn More</a>
        </div>

        <div class="hero__card">
      <img src="img/black-mercedes.webp" alt="Black Mercedes" class="hero__card-image" />
      <h3 class="hero__card-title">Luxury</h3>
      <p class="hero__card-text">Comfortable cars for demanding clients.</p>
      <a href="#request" class="hero__btn hero__btn--small">Learn More</a>
    </div>
    </div>
</section>