<section class="team" id="team">
    <div class="team__container">
        <p class="team__pretitle">— STAFF</p>
        <h2 class="team__title">Our Team</h2>
        <p class="team__description">These people do everything to ensure that you enjoy driving in a comfortable, safe,
            and good-looking car.</p>
        <div class="team__list">

            <!--Person 1-->
            <div class="team__member">
                <div class="team__image">
                    <img src="img/douglas-shimmer.webp" alt="Douglas Shimmer">
                </div>
                <h3 class="team__name">Douglas Shimmer</h3>
                <p class="team__role">CEO</p>

                <div class="team__socials">
                    <a href="https://facebook.com" class="team__socials-link" target="_blank">
                        <img src="img/icons/facebook.svg" alt="Facebook" />
                    </a>
                    <a href="https://instagram.com" class="team__socials-link" target="_blank">
                        <img src="img/icons/instagram.svg" alt="Instagram" />
                    </a>
                    <a href="https://youtube.com" class="team__socials-link" target="_blank">
                        <img src="img/icons/youtube.svg" alt="Youtube" />
                    </a>
                </div>
            </div>



            <!--Person 2-->
            <div class="team__member">
                <div class="team__image">
                    <img src="img/don-mastando.webp" alt="Don Mastando">
                </div>
                <h3 class="team__name">Don Mastando</h3>
                <p class="team__role">CTO</p>
                <div class="team__socials">
                    <a href="https://facebook.com" class="team__socials-link" target="_blank">
                        <img src="img/icons/facebook.svg" alt="Facebook" />
                    </a>
                    <a href="https://instagram.com" class="team__socials-link" target="_blank">
                        <img src="img/icons/instagram.svg" alt="Instagram" />
                    </a>
                    <a href="https://youtube.com" class="team__socials-link" target="_blank">
                        <img src="img/icons/youtube.svg" alt="Youtube" />
                    </a>
                </div>
            </div>

            <!--Person 3-->
            <div class="team__member">
                <div class="team__image">
                    <img src="img/andrew-wollace.webp" alt="Andrew Wollace">
                </div>
                <h3 class="team__name">Andrew Wollace</h3>
                <p class="team__role">Prime Consultant</p>
                <div class="team__socials">
                    <a href="https://facebook.com" class="team__socials-link" target="_blank">
                        <img src="img/icons/facebook.svg" alt="Facebook" />
                    </a>
                    <a href="https://instagram.com" class="team__socials-link" target="_blank">
                        <img src="img/icons/instagram.svg" alt="Instagram" />
                    </a>
                    <a href="https://youtube.com" class="team__socials-link" target="_blank">
                        <img src="img/icons/youtube.svg" alt="Youtube" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>