<section class="cars-of-the-month" id="cars-of-the-month">
  <div class="cars-of-the-month__container">
    <p class="cars-of-the-month__pretitle">BEST OFFER</p>
    <h2 class="cars-of-the-month__title">Cars of the month</h2>
    <p class="cars-of-the-month__description">
      Contact us right now and take advantage of the special offer. Get 10% when renting any car of the month, for any
      period!
    </p>

    <div class="cars-of-the-month__list">
      <div class="cars-of-the-month__item">
        <div class="car-of-the-month__image">
          <img src="img/brown-bmw.webp" alt="Brown BMW">
        </div>
        <h3 class="cars-of-the-month__name">BMW i8</h3>
        <p class="cars-of-the-month__text">This car is for true speed fans! If you love a fast ride, this car is for
          you! Feel all its force!</p>
      </div>

      <div class="cars-of-the-month__item">
        <div class="car-of-the-month__image">
          <img src="img/white-ford.webp" alt="White Ford">
        </div>
        <h3 class="cars-of-the-month__name">Ford Everest</h3>
        <p class="cars-of-the-month__text">This SUV is perfect for both the city and off-road. It has a spacious baggage
          compartment.</p>
      </div>

      <div class="cars-of-the-month__item">
        <div class="car-of-the-month__image">
          <img src="img/black-lexus.webp" alt="Black Lexus">
        </div>
        <h3 class="cars-of-the-month__name">Lexus SX350</h3>
        <p class="cars-of-the-month__text">It's an elegant and comfortable business class car. Perfect for driving to a
          business meeting.</p>
      </div>
    </div>
  </div>
</section>