<section class="request" id="request">
    <div class="request__container">
        <div class="request__form-block">
            <p class="request__pretitle">SEND A REQUEST</p>
            <h2 class="request__title">Need to Rent a Luxury Car?</h2>
            <p class="request__subtitle">
                Complete the form below and we'll contact you as soon as possible!
            </p>

            <form class="request__form">
                <input type="text" name="name" class="request__input" placeholder="Enter your full name*" required />
                <input type="tel" name="phone" class="request__input" placeholder="Enter your phone number*" required />
                <input type="email" name="email" class="request__input" placeholder="Enter your e-mail*" required />
                <textarea name="message" class="request__textarea" placeholder="Type your message"></textarea>

                <button type="submit" class="request__btn">REQUEST A QUOTE</button>
            </form>
        </div>
        <div class="request__image">
            <img src="img/black-alfa-romeo.svg">
        </div>
    </div>
</section>