<section class="about-us" id="about-us">
    <div class="about-us__container">
        <div class="about-us__content">
            <p class="about-us__pretitle">Meet Fastcar</p>
            <h2 class="about-us__title">About Us</h2>
            <p class="about-us__text">
                We do everything for you to drive with maximum comfort!
            </p>
            <p class="about-us__text">
                Our company has been operating on the US car rental market for over 10 years. You can rent a car for any
                purpose, from a business trip to conquering roads with difficult surfaces.

                We have several pick-up locations in New York so that you can take and leave the rented car in any
                convenient place. FASTCAR offers the most favorable conditions for car rental.
            </p>
            <a href="#contact-us" class="about-us__btn">Contact us</a>
        </div>
        <div class="about-us__image">
            <!-- image will be added later -->
        </div>
    </div>
</section>