<section class="pickup-your-car" id="pick-up-your-car">
    <div class="pickup-your-car__container">
        <p class="pickup-your-car__pretitle">OFFICES</p>
        <h2 class="pickup-your-car__title">Pick up Your Car</h2>
        <p class="pickup-your-car__description">Our company is always ready to help people who urgently need an
            executive
            car. Come to our office, fill out the documents, and pick up your car!</p>
    </div>
    <div class="pick-your-car__galerry">
        <div class="pickup-your-car__image">
            <img src="img/couple-with-the-book.webp" alt="Couple With the Book">
        </div>
        <div class="pickup-your-car__image">
            <img src="img/couple-passing-key.webp" alt="Couple Passing Key">
        </div>
        <div class="pickup-your-car__image">
            <img src="img/white-chevrolet.webp" alt="White Chevrolet">
        </div>
        <div class="pickup-your-car__image">
            <img src="img/couple-near-car.webp" alt="Couple Near Car">
        </div>
    </div>
</section>