<section class="responsibility" id="responsibility">
    <div class="responsibility__container">
        <div class="responsibility__content">
            <p class="responsibility__pretitle">SAFE CAR RENTAL</p>
            <h2 class="responsibility__title">Responsibility</h2>
            <p class="responsibility__highlight">
                We know how important the safety of our customers is. Therefore, we are doing everything possible so
                that there are no problems with our cars.
            </p>
            <p class="responsibility__text">
                All cars that you can rent are equipped with active and passive security systems. In addition, our cars
                are regularly inspected and serviced by an authorized dealer.
            </p>
            <ul class="responsibility__list">
                <li class="responsibility__item">Personal accident insurance</li>
                <li class="responsibility__item">Roadside assistance protection</li>
                <li class="responsibility__item">Different options for financial responsibility</li>
            </ul>
            <a href="#contact-us" class="responsibility__btn">Learn more</a>
        </div>

        <div class="responsibility__image">
            <!-- image will be added later -->
        </div>

        <div class="responsibility__stats">
            <div class="responsibility__stat">
                <p class="responsibility__number">10</p>
                <p class="responsibility__label">Years of experience</p>
                <p class="responsibility__description">
                    We have the perfect reputation of a luxury car rental service.
                </p>
            </div>
            <div class="responsibility__stat">
                <p class="responsibility__number">450</p>
                <p class="responsibility__label">Clients per month</p>
                <p class="responsibility__description">
                    We serve celebrities, entrepreneurs, tourists, etc.
                </p>
            </div>
            <div class="responsibility__stat">
                <p class="responsibility__number">80</p>
                <p class="responsibility__label">Cars available</p>
                <p class="responsibility__description">
                    You can pick up a car at any convenient location.
                </p>
            </div>
        </div>
    </div>
</section>