<section class="car-categories">
    <div class="car-categories__card">
        <img src="img/white-mercedes.webp" alt="White Mercedes" class="car-categories__card-image" />
        <h3 class="car-categories__card-title">SUVs</h3>
        <p class="car-categories__card-text">No obstacles on your way can spoil the trip.</p>
        <a href="#request" class="car-categories__btn car-categories__btn--small">Learn More</a>
    </div>

    <div class="car-categories__card">
        <img src="img/blue-nissan.webp" alt="Blue Nissan" class="car-categories__card-image" />
        <h3 class="car-categories__card-title">Sports Cars</h3>
        <p class="car-categories__card-text">Feel what true speed and freedom are.</p>
        <a href="#request" class="car-categories__btn car-categories__btn--small">Learn More</a>
    </div>

    <div class="car-categories__card">
        <img src="img/black-mercedes.webp" alt="Black Mercedes" class="car-categories__card-image" />
        <h3 class="car-categories__card-title">Luxury</h3>
        <p class="car-categories__card-text">Comfortable cars for demanding clients.</p>
        <a href="#request" class="car-categories__btn car-categories__btn--small">Learn More</a>
    </div>
</section>