<section class="brief-history" id="brief-history">
    <div class="brief-history__container">
        <div class="brief-history__content">
            <p class="brief-history__pretitle">EXPERIENCE</p>
            <h2 class="brief-history__title">Brief History</h2>
            <p class="brief-history__text">
                Our first office was opened 10 years ago. Throughout our history, we've worked hard to provide you with
                maximum comfort when traveling and moving around the city.
            </p>

            <!-- 2010 -->
            <div class="brief-history__row brief-history__row--dark">
                <div class="brief-history__image">
                    <img src="img/black-dashboard.webp" alt="Black Dashboard" />
                </div>
                <div class="brief-history__text-block">
                    <p class="brief-history__year brief-history__year--white brief-history__year--underline-yellow">2010
                    </p>
                    <p class="brief-history__event">
                        Our CEO came up with the idea of creating a rental company with budget cars.
                        We started with two used cars that were kept in the founder’s garage.
                    </p>
                </div>
            </div>

            <!-- 2012 -->
            <div class="brief-history__row brief-history__row--light">
                <div class="brief-history__text-block">
                    <p class="brief-history__year brief-history__year--black brief-history__year--underline-blue">2012
                    </p>
                    <p class="brief-history__event">
                        The first expansion of FASTCAR took place. Customers were interested in renting cars,
                        so we started to buy used cars in good condition and expanded the fleet to 15 cars.
                    </p>
                </div>
                <div class="brief-history__image">
                    <img src="img/blue-tesla.webp" alt="Blue Tesla" />
                </div>
            </div>

            <!-- 2015 -->
            <div class="brief-history__row brief-history__row--dark">
                <div class="brief-history__image">
                    <img src="img/black-car-interior.webp" alt="Black Car Interior" />
                </div>
                <div class="brief-history__text-block">
                    <p class="brief-history__year brief-history__year--white brief-history__year--underline-yellow">2015
                    </p>
                    <p class="brief-history__event">
                        We opened new rental segments – business class and SUVs. We bought 5 new cars for each segment.
                        Jaguar XJ, Ford Mustang GT, BMW 7-series joined our fleet.
                    </p>
                </div>
            </div>

            <!-- 2019 -->
            <div class="brief-history__row brief-history__row--grey">
                <div class="brief-history__text-block">
                    <p class="brief-history__year brief-history__year--black brief-history__year--underline-blue">2019
                    </p>
                    <p class="brief-history__event">
                        We completely reoriented to premium car rental. A segment of sports cars was added,
                        we bought 4 sports cars including Ferrari 430 Italia and Aston Martin Valkyrie.
                    </p>
                </div>
                <div class="brief-history__image">
                    <img src="img/white-tesla.webp" alt="White Tesla" />
                </div>
            </div>
        </div>
    </div>
</section>