<section class="hero" id="hero">
    <div class="hero__container">
        <div class="hero__content">
            <h2 class="hero__subtitle">
                <span class="hero__line"></span>
                Comfortable driving in <span class="hero__highlight">NYC</span>
                <h1 class="hero__title">Car Rental</h1>
            </h2>
            <a href="#about-us" class="hero__btn">Learn more</a>
            <a href="#pricing" class="hero__btn hero__btn--secondary">Pricing</a>
            <ul class="hero__list">
                <li class="hero__item">Best car rental deals.</li>
                <li class="hero__item">Comfortable vehicles.</li>
                <li class="hero__item">Flexible conditions.</li>
            </ul>
        </div>
        <div class="hero__image-wrapper">
            <img src="img/red-tesla.png" alt="Red Tesla" class="hero__image">
        </div>
    </div>
</section>