<section class="manufacturers" id="manufacturers">
    <div class="manufacturers__container">
        <div class="manufacturers__content">
            <p class="manufacturers__pretitle">— Top Manufacturers</p>
            <h2 class="manufacturers__title">Brands</h2>
            <p class="manufacturers__description">
                Our fleet includes the best cars of the following brands.
            </p>
        </div>
        <div class="manufacturers__gallery">
            <div class="manufacturers__item">
                <img src="img/audi-logo.webp" alt="Audi Logo" />
            </div>
            <div class="manufacturers__item">
                <img src="img/ford-logo.webp" alt="Ford Logo" />
            </div>
            <div class="manufacturers__item">
                <img src="img/honda-logo.webp" alt="Honda Logo" />
            </div>
            <div class="manufacturers__item">
                <img src="img/bmw-logo.webp" alt="BMW Logo" />
            </div>
        </div>
    </div>
</section>