<section class="testimonials" id="testimonials">
    <div class="testimonials__container">
        <p class="testimonials__pretitle">— FEEDBACK</p>
        <h2 class="testimonials__title">Testimonials</h2>
        <p class="testimonials__description">Every day, dozens of people go to work or travel by cars rented with
            FASTCAR.</p>

        <div class="testimonials__slider">
            <!--Testimonial 1-->
            <div class="testimonials__card">
                <div class="testimonials__image">
                    <img src="img/jane-mc-callan.webp" alt="Jane McCallan">
                </div>
                <h3 class="testimonials__name">Jane McCallan</h3>
                <p class="testimonials__position">Marketing Director at Pepsi Co.</p>
                <p class="testimonials__text">
                    I am completely satisfied with the services of this company. I often rent cars with FASTCAR for
                    business
                    meetings, driving to work, etc. I am pleased with the excellent technical condition of the cars,
                    favorable rental conditions. And the staff is always friendly.
                </p>
                <p class="testimonials__date">December 15, 2024</p>
            </div>
            <!--Testimonial 2-->
                <div class="testimonials__card">
                    <div class="testimonials__image">
                        <img src="img/daniel-gordons.webp" alt="Daniel Gordons">
                    </div>
                    <h3 class="testimonials__name">Daniel Gordons</h3>
                    <p class="testimonials__position">CEO at MyVent.</p>
                    <p class="testimonials__text">
                        When I was driving to one of the most important meetings in my life, my car broke down... Only a
                        few hours remained, and a new car was urgently needed. Thanks to the FASTCAR specialists, I
                        managed to quickly rent a luxury car. They immediately solved my problem.
                    </p>
                    <p class="testimonials__date">January 08, 2024</p>
                </div>
                <!--Testimonial 3-->
                    <div class="testimonials__card">
                        <div class="testimonials__image">
                            <img src="img/elizabeth-smith.webp" alt="Elizabeth Smith">
                        </div>
                        <h3 class="testimonials__name">Elizabeth Smith</h3>
                        <p class="testimonials__position">Director of Media at Legal Company</p>
                        <p class="testimonials__text">
                            I love sports cars and fast driving but I can’t buy such a car, it’s too expensive.
                            Therefore, sometimes I rent sports cars to enjoy the speed. I choose this company because of
                            the attractive pricing policy and a wide selection of luxury vehicles.
                        </p>
                        <p class="testimonials__date">April 04, 2024</p>
                    </div>
                    </div>

                    <!--Arrows-->
                    <div class="testimonials__controls">
                        <button class="testimonials__arrow testimonials__arrow--left">&lt;</button>
                        <button class="testimonials__arrow testimonials__arrow--right">&gt;</button>
                    </div>
</section>