<section class="faq" id="faq">
    <div class="faq__container">
        <p class="faq__pretitle">— FAQ</p>
        <h2 class="faq__title">Frequently Asked Questions</h2>
        <p class="faq__description">We offer simple and transparent car rental conditions for any period. Look through
            the information below, and if you have any questions, we will be happy to answer them.</p>
        <div class="faq__list">
            <!--FAQ 1-->
            <div class="faq__item">
                <h3 class="faq__topic">
                    How can I rent a car with your service?</h3>
                <p class="faq__response">You should come to our office or call us. Our specialist will help with the
                    selection
                    and
                    make out the documents. </p>
            </div>
            <!--FAQ 2-->
            <div class="faq__item">
                <h3 class="faq__topic">
                    How long does it take to pick up the car?</h3>
                <p class="faq__response">You will have to wait no more than 20 minutes, and then you'll be able to pick
                    up the
                    car
                    wherever you want. </p>
            </div>
            <!--FAQ 3-->
            <div class="faq__item">
                <h3 class="faq__topic">

                    What is the minimum rental period?</h3>
                <p class="faq__response">You can rent a car even for 1 day. The maximum period is not provided. We offer
                    discounts
                    for 10+ days of rental. </p>
            </div>
            <!--FAQ 4-->
            <div class="faq__item">
                <h3 class="faq__topic">
                    What if I want to extend the rental period?</h3>
                <p class="faq__response">Just call our manager and ask to extend the rental period. The total amount
                    will be
                    charged from the card automatically. </p>
            </div>
            <!--FAQ 5-->
            <div class="faq__item">
                <h3 class="faq__topic">

                    How do I pay for the rental period?</h3>
                <p class="faq__response">Before you pick up the car, specify your credit card details. When you return
                    the car,
                    we
                    charge the total amount. </p>
            </div>
            <!--FAQ 6-->
            <div class="faq__item">
                <h3 class="faq__topic">

                    Do you have any age or other restrictions?</h3>
                <p class="faq__response">Each driver should have a valid driver‘s license for the duration of the rental
                    period
                    and
                    be at least age 18.</p>
            </div>
        </div>
    </div>
</section>