<section class="pricing" id="pricing">
    <div class="pricing__container">
        <p class="pricing__pretitle">— Rates</p>
        <h2 class="pricing__title">Clear Pricing</h2>
        <p class="pricing__description">You pay not for the model of the car but for its class. We offer not only the
            best luxury cars but also the most favorable conditions for any rental period.</p>
<div class="pricing__cards">
    <!--Card 1 -->
    <div class="pricing__card">
        <p class="pricing__category">— SUVs</p>
        <p class="pricing__price">$150</p>
        <p class="pricing__per">per day</p>
        <ul class="pricing__list">
            <li class="pricing__item">✔ Ford Everest</li>
            <li class="pricing__item">✔ Nissan X-Trail</li>
            <li class="pricing__item">✔ Suzuki Escudo or similar</li>
        </ul>
        <a href="#request" class="pricing__button">Rent a Car</a>
    </div>

    <!--Card 2-->
    <div class="pricing__card pricing__card--featured">
        <p class="pricing__category">— Luxury</p>
        <p class="pricing__price">$390</p>
        <p class="pricing__per">per day</p>
        <ul class="pricing__list">
            <li class="pricing__item">✔ Lexus SX350</li>
            <li class="pricing__item">✔ Jaguar XF</li>
            <li class="pricing__item">✔ Audi A6 or similar</li>
        </ul>
        <a href="#request" class="pricing__button">Rent a Car</a>
    </div>

    <!--Card 3-->
<div class="pricing__card">
        <p class="pricing__category">— Luxury</p>
        <p class="pricing__price">$500</p>
        <p class="pricing__per">per day</p>
        <ul class="pricing__list">
            <li class="pricing__item">✔ McLaren Senna</li>
            <li class="pricing__item">✔ Porsche 911 GT2 RS</li>
            <li class="pricing__item">✔ Ford GT or similar</li>
        </ul>
        <a href="#request" class="pricing__button">Rent a Car</a>
    </div>
    </div>
</section>